<div id="search-area">
    <h1>Welcome, <%= @user.first_name %></h1>
    <div id="search-bar">
        <input type='text' name='address' class='form-control' placeholder="Where to?">
        <button class='btn btn-dark'>Search</button>
    </div>
</div>
<div id="map"></div>